.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 350px;
  }
}
.container-video {
  max-width: 980px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-4 {
  width: calc(100% / 12 * 4 - 32px);
  margin: 0 16px;
}