.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 767px) {
    max-width: 350px;
  }
}
.container-video {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-4 {
  width: calc(100% / 12 * 4 - 32px);
  margin: 0 16px;
}
@media (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .display-lg {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .display-sm {
    display: none !important;
  }
}
