$white: #ffffff;
$light-gray: #F7F7F7;
$gray: #AAAAAA;
$dark-gray: #6D6D6D;
$graphite: #3C3C3C;
$accent: #36BCBB;
$navy: #0081C8;
$blue: #92CEE9;
$yellow: #F2C43E;
$rose: #E8ACB9;

$reg: "Inter", sans-serif;
$add: "Raleway", sans-serif;
