.feedback {
    padding-top: 61px;
    padding-bottom: 140px;
    &__slider-wrap {
        position: relative;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__content {
        position: relative;
        max-width: 680px;
        margin: 0 auto;
        width: 100%;
        padding-left: 64px;
    }
    &__text {
        margin-bottom: 28px;
        font-family: $reg;
        
        font-weight: normal;
        font-size: 22px;
        line-height: 31px;
        color: #373737;
    }
    &__author-wrap {
        display: flex;
        align-items: center;
    }
    &__author-thumb {
        margin-right: 30px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        margin-bottom: 3px;
        font-family: $reg;
        
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #373737;
    }
    &__position {
        font-family: $reg;
        
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #373737;
    }
    &__decor {
        position: absolute;
        top: 8px;
        left: -90px;
    }
    &__arrow-prev, &__arrow-next {
        position: absolute;
        top: calc(50% - 15px);
    }
    &__arrow-prev {
        left: -72px;
    }
    &__arrow-next {
        right: -87px;
    }
    &__pagination {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.feedback-full {
    &__item {
        padding: 70px 0 96px;
        &:nth-child(2n-1) {
            background-color: $light-gray;
        }
    }
}

.feedback-form {
    background-color: $navy;
    .cta__title, .cta-form__agreement, .cta-form__agreement a {
        color: #fff;
    }
    .cta-form__input {
        color: #fff;
        border-color: #fff !important;
        &::placeholder {
            color: #fff;
        }
    }
}