.news {
    padding: 74px 0 94px;
    &__title {
        margin-bottom: 53px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
        &_mb {
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__card {
        width: calc(100% / 3 - 32px);
        margin: 0 16px;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            width: 100%;
            margin: 0;
            margin-bottom: 25px;
        }
    }
}