.news {
    padding: 74px 0 94px;
    @media (max-width: 767px) {
        padding: 37px 0 46px;
    }
    &__title {
        margin-bottom: 53px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
        &_mb {
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            margin: 0;
        }
    }
    &__card {
        width: calc(100% / 3 - 32px);
        margin: 0 16px;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
        &:last-child {
            @media (max-width: 767px) {
                margin-bottom: 40px;
            }
        }
    }
    &__btn {
        @media (max-width: 767px) {
            max-width: 270px;
            padding: 20px 28px;
        }
    }
}