.profile {
  background-color: $light-gray;
  padding: 29px 15px 135px 15px;
  &-container {
    max-width: 820px;
    width: 100%;
    margin: auto;
    .cta-button {
      display: flex;
      justify-content: center;
      margin-top: 58px;
    }
  }
  &-section {
    background-color: #fff;
    border: 0.5px solid $gray;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 35px 30px 50px 30px;
    margin-bottom: 30px;
    &__photo {
      margin-bottom: 29px;
    }
    &__btn {
      min-width: 272px;
    }
    &__about {
      max-width: 734px;
    }
    &__image {
      width: 100%;
    }
    &__name {
      font-family: $reg;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 130%;
      color: $graphite;
      margin-right: 25px;
    }
    &__age {
      font-family: $reg;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 130%;
      color: $graphite;
    }
    &__title {
      font-family: $reg;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: $graphite;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 23px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__text {
      font-family: $reg;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: $dark-gray;
    }
    &__caution {
      font-family: $reg;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: $graphite;
      margin-top: 6px;
    }
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__string {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $gray;
      padding: 14px 0px;
      &:last-child {
        border-bottom: 1px solid $gray;
      }
      &_block {
        align-items: flex-start;
      }
    }
    &-features {
      column-count: 2;
      margin-bottom: 28px;
    }
    &__img {
      width: 22px;
      height: 22px;
      &_v {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.5L10 14.5L15 8.5' stroke='%230081C8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z' stroke='%230081C8' stroke-width='2'/%3E%3C/svg%3E");
      }
      &_x {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8L8 14M14 14L8 8L14 14Z' stroke='%236D6D6D' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z' stroke='%236D6D6D' stroke-width='2'/%3E%3C/svg%3E");
      }
    }
    &__author {
      font-family: $reg;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $navy;
      margin-bottom: 15px;
    }
    &__review {
      width: 620px;
      font-family: $reg;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $dark-gray;
    }
    .all-reviews {
      text-align: center;
      margin-top: 50px;
    }
  }
  &__cta-btn {
    min-width: 264px;
  }
}