.profile-tag {
    padding: 4px 10px;
    width: fit-content;
    text-align: center;
    font-family: $reg;
    font-size: 14px;
    line-height: 24px;
    color: $dark-gray;
    background-color: #FFFFFF;
    border: 0.5px solid $gray;
    box-sizing: border-box;
    border-radius: 10px;
    strong {
        color: $graphite !important;
    }
    &_big {
        padding: 4px 18px;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    &_bold {
        font-weight: bold;
    }
    &_green {
        border-color: $accent;
        color: $accent;
    }
}