.hero-service {
    padding: 60px 0 68px;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__info {
        width: 45%;
    }
    &__text {
        margin-bottom: 40px;
        font-family: $reg;
        color: $dark-gray;
        font-size: 16px;
        line-height: 1.3;
    }
}