.hero-service {
    padding: 60px 0 68px;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 767px) {
        .hero-service {
            &__wrap {
                flex-direction: column-reverse;
            }
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &__info {
        width: 45%;
    }
    @media (max-width: 767px) {
        .hero-service {
            &__info {
                width: 100%;
            }
        }
    }
    &__text {
        margin-bottom: 40px;
        font-family: $reg;
        color: $dark-gray;
        font-size: 20px;
        line-height: 24px;
    }
    @media (max-width: 767px) {
        .hero-service {
            &__text {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 767px) {
        .hero-service {
            &__img-wrap {
                margin-bottom: 36px;
            }
        }
    }
    &__img {
        width: 100%;
    }
}