.safety-section {
  padding: 50px 0 70px;

  &__title {
    margin-bottom: 22px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  &__col-4 {
    width: calc(100% / 12 * 4 - 32px);
    margin: 0 16px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: $reg;
    color: $dark-gray;
  }

  &__feature {
    position: relative;
    max-width: 285px;
    margin-bottom: 65px;
    padding-top: 4px;
    padding-left: 55px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 5px;
    left: 1px;
  }

  &__heading {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: $add;
    color: $graphite;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-family: $reg;
    color: $dark-gray;
  }
}
