.service-photo-cta {
  background-color: $white;
}
.reasons {
  background-color: $light-gray;
  padding-top: 75px;
  padding-bottom: 50px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .reasons {
      &-container {
        flex-direction: column;
      }
    }
  }
  &-collab {
    flex-basis: 54%;
    &__img {
      width: 100%;
    }
  }
  &-descr {
    flex-basis: 50%;
    padding-top: 14px;
  }
  &-title {
    font-family: $reg;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: $navy;
    margin-bottom: 50px;
  }
  &-list {
    padding: 0;
    margin-left: 20px;
    &__item {
      font-family: $reg;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $graphite;
      list-style: auto;
      margin-bottom: 35px;
    }
    @media (max-width: 767px) {
      .reasons {
        &-list {
          &__item {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.features {
  background-color: $white;
  padding-top: 56px;
  padding-bottom: 50px;
  &-container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 980px;
    width: 100%;
    margin: auto;
  }
  @media (max-width: 767px) {
    .features {
      &-container {
        max-width: 350px;
      }
    }
  }
  &-title {
    margin-bottom: 75px;
  }
  @media (max-width: 767px) {
    .features {
      &-title {
        margin-bottom: 40px;
      }
    }
  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 51px;
  }
  &__string {
    flex-basis: 47%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 26px;
  }
  &__img {
    width: 24px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0993 23.8967C8.3598 23.8967 7.6594 23.5516 7.2106 22.9566L1.1365 14.9309C0.948706 14.683 0.811605 14.4006 0.733033 14.0997C0.654462 13.7988 0.635962 13.4854 0.67859 13.1774C0.721219 12.8693 0.824139 12.5727 0.981469 12.3045C1.1388 12.0363 1.34745 11.8017 1.5955 11.6142C1.84346 11.4258 2.12615 11.2883 2.42736 11.2094C2.72857 11.1306 3.04238 11.1119 3.35082 11.1546C3.65925 11.1972 3.95623 11.3003 4.22475 11.4579C4.49326 11.6156 4.72803 11.8246 4.9156 12.0732L8.9123 17.35L18.961 1.21356C19.2943 0.680776 19.8252 0.301926 20.4374 0.160107C21.0497 0.0182878 21.6931 0.125079 22.2267 0.457057C23.3368 1.14726 23.6785 2.60926 22.9849 3.72106L11.1121 22.7781C10.9094 23.1048 10.6301 23.3772 10.2983 23.5715C9.96646 23.7659 9.59225 23.8763 9.2081 23.8933C9.1707 23.8967 9.1367 23.8967 9.0993 23.8967Z' fill='%2336BCBB'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin-right: 18px;
    margin-top: 5px;
  }
  &__text {
    width: 410px;
    font-family: $reg;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
  @media (max-width: 767px) {
    .features {
      &__text {
        width: 238px;
      }
    }
  }
  &-cost {
    font-family: $reg;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $dark-gray;
    text-align: center;
    margin-bottom: 18px;
    &_navy {
      color: $navy;
    }
  }
  @media (max-width: 767px) {
    .features {
      &-cost {
        font-size: 16px;
      }
    }
  }
  &-btn {
    text-align: center;
  }
}
.albums {
  background-color: $light-gray;
  padding-top: 80px;
  padding-bottom: 81px;
  &-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .albums {
      &-container {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
      }
    }
  }
  &-descr {
    flex-basis: 55%;
    margin-right: 52px;
  }
  @media (max-width: 767px) {
    .albums {
      &-descr {
        margin-right: 0;
      }
    }
  }
  &-title {
    font-family: $add;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    color: $graphite;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .albums {
      &-title {
        font-size: 28px;
        margin-bottom: 30px;
      }
    }
  }
  &-preview {
    flex-basis: 45%;
    &__img {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .albums {
      &-preview {
        margin-bottom: 40px;
      }
    }
  }
  &-list {
    margin-left: 33px;
    &__item {
      width: 500px;
      list-style: disc;
      margin-bottom: 31px;
    }
    @media (max-width: 767px) {
      .albums {
        &-list {
          &__item {
            width: auto;
          }
        }
      }
    }
    &__item:last-child {
      margin-bottom: 0;
    }
    &__text {
      font-family: $reg;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $graphite;
    }
  }
}
.pricelist {
  background-color: $white;
  padding-top: 48px;
  padding-bottom: 80px;
  &-title {
    margin-bottom: 40px;
  }
  &-table {
    width: 100%;
    margin-bottom: 16px;
    border-spacing: 0 !important;
    .tr-gray {
      background-color: $light-gray;
    }
    .tr-white {
      background-color: $white;
    }
    .td-top {
      border: 1px solid $blue;
      padding: 20px 25px;
      &_big {
        width: 42%;
      }
      &_small {
        width: 14%;
      }
    }
    .td-small {
      text-align: center;
      padding: 20px 25px;
    }
    td {
      padding: 20px 0px 20px 25px;
      .td {
        &-title {
          font-family: $reg;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: $graphite;
        }
        &-text {
          font-family: $reg;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $graphite;
        }
        &-marked {
          width: 100%;
          height: 16px;
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.58208 16C5.09317 16 4.6301 15.768 4.33338 15.3679L0.317515 9.97201C0.193356 9.80537 0.102712 9.61548 0.050765 9.41319C-0.00118198 9.2109 -0.0134133 9.00019 0.0147702 8.79309C0.0429537 8.58599 0.110999 8.38657 0.215017 8.20623C0.319035 8.0259 0.456985 7.86818 0.620981 7.74209C0.784918 7.61547 0.971814 7.523 1.17096 7.46998C1.3701 7.41696 1.57758 7.40442 1.7815 7.43309C1.98542 7.46176 2.18177 7.53107 2.3593 7.63705C2.53682 7.74303 2.69204 7.88359 2.81605 8.05069L5.45845 11.5984L12.1021 0.749434C12.3224 0.391229 12.6735 0.136516 13.0782 0.0411668C13.483 -0.0541826 13.9084 0.0176168 14.2612 0.240816C14.9951 0.704859 15.2211 1.68781 14.7625 2.43531L6.91284 15.2479C6.77884 15.4676 6.59414 15.6508 6.37477 15.7814C6.1554 15.9121 5.90799 15.9863 5.65402 15.9977C5.62929 16 5.60681 16 5.58208 16Z' fill='%2336BCBB'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  &-btn {
    text-align: center;
  }
}
.lab {
  background-color: $light-gray;
  padding-top: 83px;
  padding-bottom: 97px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .lab {
      &-container {
        align-items: center;
        flex-direction: column-reverse;
      }
    }
  }
  &-descr {
    flex-basis: 50%;
    margin-right: 52px;
  }
  @media (max-width: 767px) {
    .lab {
      &-descr {
        margin-right: 0;
      }
    }
  }
  &-title {
    font-family: $add;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    color: $graphite;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .lab {
      &-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
      }
    }
  }
  &-text {
    width: 460px;
    font-family: $reg;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $graphite;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    .lab {
      &-text {
        width: auto;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-preview {
    flex-basis: 30%;
  }
  @media (max-width: 767px) {
    .lab {
      &-preview {
        margin-bottom: 36px;
      }
    }
  }
}
.process {
  background-color: $light-gray;
  padding-top: 60px;
  padding-bottom: 73px;
  &-container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 980px;
    width: 100%;
    margin: auto;
  }
  &-title {
    margin-bottom: 20px;
  }
  &-video {
    &-preview {
      width: 100%;
    }
  }
}