.why-us {
    &__title {
        margin-bottom: 23px;
    }
    &__text {
        font-family: $reg;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.34;
        color: $graphite;
        p {
            margin-bottom: 22px;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__text-col {
        width: 41.33%;
        max-width: 450px;
    }
    &__img-col {        
        padding-right: 91px;
        padding-top: 143px;
    }
    &__img-wrap {
        position: relative;
        margin-bottom: 32px;
        &::before {
            position: absolute;
            z-index: 0;
            content: '';
            top: -51px;
            right: -66px;
            width: 230px;
            height: 298px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='230' height='298' viewBox='0 0 230 298' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M111.465 69.1318L101.302 77.4944C99.8596 78.6891 97.9777 78.9406 96.284 78.249L84.1141 73.2817C81.9185 72.4014 79.4093 73.1559 78.0919 75.168L70.8778 86.1715C69.8742 87.6805 68.1177 88.5608 66.2985 88.3722L53.2504 87.1775C50.8666 86.9889 48.671 88.4351 48.0437 90.7615L44.3426 103.4C43.8407 105.16 42.3979 106.481 40.5787 106.858L27.6561 109.625C25.335 110.128 23.704 112.203 23.704 114.592L23.8922 127.733C23.8922 129.557 22.9512 131.254 21.3202 132.135L9.8404 138.548C7.77027 139.68 6.8293 142.195 7.51935 144.459L11.5341 156.971C12.0987 158.732 11.6596 160.618 10.405 161.938L1.37169 171.433C-0.259321 173.13 -0.447515 175.771 0.86984 177.783L8.39758 188.535C9.46401 190.044 9.58948 191.994 8.77397 193.628L2.93997 205.386C1.87354 207.524 2.43812 210.102 4.32006 211.548L14.6707 219.597C16.1135 220.728 16.8036 222.552 16.5526 224.375L14.4198 237.328C14.0434 239.654 15.3607 241.981 17.5563 242.798L29.8517 247.451C31.5454 248.08 32.8 249.652 33.0509 251.475L34.8074 264.491C35.1211 266.88 37.0657 268.641 39.4495 268.829L52.5603 269.647C54.3795 269.773 56.0106 270.841 56.7633 272.539L62.2837 284.486C63.2874 286.624 65.6712 287.818 67.9922 287.252L80.7266 284.171C82.4831 283.731 84.365 284.297 85.6197 285.68L94.402 295.426C95.9703 297.187 98.605 297.564 100.675 296.37L111.967 289.642C113.535 288.699 115.48 288.699 117.048 289.642L128.34 296.37C130.41 297.564 132.982 297.187 134.613 295.426L143.395 285.68C144.65 284.297 146.469 283.731 148.288 284.171L161.023 287.252C163.344 287.818 165.727 286.686 166.731 284.486L172.251 272.539C173.004 270.904 174.635 269.773 176.454 269.647L189.565 268.829C191.949 268.704 193.894 266.88 194.207 264.491L195.964 251.475C196.215 249.652 197.407 248.143 199.163 247.451L211.458 242.798C213.654 241.981 215.034 239.654 214.595 237.328L212.462 224.375C212.148 222.552 212.901 220.728 214.344 219.597L224.695 211.548C226.577 210.102 227.141 207.524 226.075 205.386L220.241 193.628C219.425 191.994 219.551 190.044 220.617 188.535L228.145 177.783C229.525 175.834 229.337 173.193 227.643 171.433L218.798 161.938C217.543 160.618 217.104 158.669 217.669 156.971L221.684 144.459C222.436 142.195 221.433 139.743 219.363 138.548L207.883 132.135C206.314 131.254 205.311 129.557 205.311 127.733L205.499 114.592C205.562 112.203 203.868 110.128 201.547 109.625L188.687 106.858C186.868 106.481 185.488 105.16 184.923 103.4L181.222 90.7615C180.532 88.4979 178.336 86.9889 176.015 87.1775L162.967 88.3722C161.148 88.5608 159.392 87.6805 158.388 86.1715L151.174 75.168C149.856 73.1559 147.347 72.4014 145.152 73.2817L132.982 78.249C131.288 78.9406 129.343 78.6262 127.963 77.4944L117.801 69.1318C115.982 67.6227 113.284 67.6227 111.465 69.1318Z' fill='%23E8ACB9'/%3E%3Cpath d='M50.1714 32.8653C59.2469 32.8653 66.6041 25.5082 66.6041 16.4327C66.6041 7.35715 59.2469 0 50.1714 0C41.0959 0 33.7388 7.35715 33.7388 16.4327C33.7388 25.5082 41.0959 32.8653 50.1714 32.8653Z' fill='%2336BCBB'/%3E%3C/svg%3E%0A");
        }
        &::after {
            position: absolute;
            z-index: 2;
            content: '';
            bottom: 5px;
            left: 8px;
            width: 121px;
            height: 121px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='121' height='121' viewBox='0 0 121 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.6865 3.22571C73.4779 -2.03371 82.7442 0.742094 84.7711 8.33903C86.219 13.5984 91.2864 16.8125 96.6435 15.936C104.317 14.6211 110.688 22.0719 108.371 29.5228C106.778 34.6361 109.24 40.1877 114.162 42.3791C121.257 45.4471 122.705 55.2355 116.769 60.2027C112.715 63.709 111.846 69.6989 114.742 74.2278C119.085 80.8021 115.031 89.5678 107.358 90.5904C102.001 91.3209 98.0913 95.8499 98.2361 101.255C98.3809 109.144 90.273 114.404 83.1785 111.044C78.4006 108.706 72.4644 110.459 69.7135 114.988C65.6595 121.709 55.959 121.709 51.905 114.988C49.1541 110.313 43.2179 108.706 38.44 111.044C31.3456 114.404 23.0928 109.144 23.2376 101.255C23.3824 95.8499 19.3284 91.1748 14.1162 90.5904C6.44258 89.5678 2.3886 80.8021 6.73214 74.2278C9.77262 69.6989 8.90392 63.709 4.70516 60.2027C-1.23102 55.0894 0.0720453 45.4471 7.31128 42.3791C12.234 40.1877 14.6953 34.6361 13.1027 29.5228C10.7861 22.0719 17.1566 14.6211 24.8302 15.936C30.1873 16.8125 35.2547 13.4523 36.7026 8.33903C38.7296 0.742094 47.9958 -2.03371 53.7872 3.22571C57.6964 6.73198 63.7773 6.73198 67.6865 3.22571Z' fill='%23F1C33E'/%3E%3C/svg%3E%0A");
        }
    }
    &__img {
        position: relative;
        z-index: 1;
        width: 437px;
        height: 437px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__name {
        font-family: $reg;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: $graphite;
    }
    &__position {
        font-family: $reg;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: $dark-gray;
    }
}