.contacts {
  padding-top: 98px;

  @media (max-width: 1024px) {
    padding-top: 45px;
  }

  &-container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
  }

  &-title {
    margin-bottom: 85px;

    @media (max-width: 1024px) {
      margin-bottom: 35px;
    }
  }
}

.map {
  position: relative;
  &__wrap {
    position: relative;
    overflow: hidden; 
    display: flex;
    background-color: #ccc;
  }
  &-info {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 100;
    padding: 38px 68px 44px 30px;
    background-color: $white;

    @media (max-width: 1024px) {
      position: static;
    }

    &__title {
      width: 344px;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 38px;
      line-height: 45px;
      font-family: $add;
      color: $navy;
      font-style: normal;

      @media (max-width: 1023px) {
        width: auto;
        font-size: 34px;
        line-height: 40px;
      }

      @media (max-width: 767px) {
        font-size: 26px;
        line-height: 30px;
      }
    }

    &__subtitle {
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      font-family: $reg;
      color: $dark-gray;
      font-style: normal;
    }

    &__address {
      width: 267px;
      font-weight: normal;
      font-size: 20px;
      line-height: 130%;
      font-family: $reg;
      color: $graphite;
      font-style: normal;

      @media (max-width: 1023px) {
        width: auto;
      }
      
      @media (max-width: 767px) {
        width: auto;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
