.geography {
  padding-top: 90px;
  padding-bottom: 191px;
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  &__title {
    font-family: $add;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    color: $graphite;
    margin-bottom: 90px;
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 33px;
    }
  }
  &__img-wrap {
    text-align: center;
    margin: 0 auto 90px auto;
  }
  &__img {
    width: 100%;
  }
}